<!DOCTYPE html>
<html>

<head>
  <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no">
  <title>

  </title>
  <link rel='stylesheet' href="/stylesheets/bootstrap.min.css" />
  <link rel='stylesheet' href='/stylesheets/style.css' />

  <script src='/javascripts/jquery.min.js'></script>
  <script src='/javascripts/bootstrap.min.js'></script>

</head>

<body>

  <nav class="navbar navbar-default">
    <div class="container-fluid">
      <!-- Brand and toggle get grouped for better mobile display -->
      <div class="navbar-header">
        <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
          <span class="sr-only">Toggle navigation</span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
        </button>
        <a class="navbar-brand" href="/">Blog</a>
      </div>

      <!-- Collect the nav links, forms, and other content for toggling -->
      <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">

        <ul class="nav navbar-nav">
          <li class="active"><a href="/userBlog">我的主页 <span class="sr-only">(current)</span></a></li>

        </ul>

        <ul class="nav navbar-nav pull-right" id="userStatus">
          <% if(c_user == ''){ %>
            <li><span><a href="/reg">注册</a>&nbsp;|&nbsp;<a href="/login">登录</a></span></li>
          <% }else{ %>
            <li><span><a href="/reg">欢迎<%= c_user %>回来</a>&nbsp;|&nbsp;<a href="/logout">注销</a></span></li>
          <% } %>


        </ul>

      </div>
      <!-- /.navbar-collapse -->

    </div>
    <!-- /.container-fluid -->
  </nav>


  <%- body %>
</body>

</html>
